

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: #fdf6f4;
}

.container {
    max-width: 130rem;
    margin: 0 auto;
}

.icons {
  margin-right: 1rem;
  font-size: 2rem;
}