.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.4rem;
  padding: 2.4rem 3.2rem;
  background-color: #fdf6f4;
}

.logo {
  text-decoration: none;
  color: #224350;
  font-size: 3.6rem;
  font-weight: 700;
}

.main-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 2.4rem;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #224350;
  transition: all .3s ease-in-out;
}

.main-nav-link:active,
.main-nav-link:hover {
  color: #7d7572;
}


